*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: Quicksand;
}

body {
  margin: 0;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-evenly;
}

img {
  width: 100%;
}

article {
  max-width: 425px;
  height: auto;
  margin-block: 2rem;
  border: 1px solid black;
  border-radius: 1.5rem;
  background-color: #fff;
  box-shadow: #aaa5a5 0rem 0rem 9px 0px;
}

/* -----  styling left card  ------*/

.left-card {
  margin-inline: 2rem 1rem;
}

/* Left Card - Header styling */

.header-left-card {
  background: linear-gradient(to top, #fff 5%, transparent 40%),
    url(https://images.unsplash.com/photo-1560072810-1cffb09faf0f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 279px;
  border-radius: 1.5rem 1.5rem 0 0;
  display: flex;
  position: relative;
}

.header-left-card p {
  margin: 0;
}

.free-shipping {
  position: absolute;
  background-color: #f5f5f5a1;
  left: 70%;
  top: 0.8rem;
  padding-block: 0.2rem;
  padding-inline: 0.5rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  font-family: Quicksand;
}

.photographer {
  position: absolute;
  top: 85%;
  left: 1rem;
  color: #7e7e7e;
  font-size: 0.7rem;
}

/* Left Card - Main styling */

main {
  margin: 1rem;
}

main p {
  color: #7e7e7e;
  padding-bottom: 1rem;
}

/* Left Card - Footer styling */

footer {
  border: 1px solid #f5f5f5;
  border-radius: 0.5rem;
  background-color: #f5f5f5;
  margin: 1rem;
}

footer h2 {
  background-color: #fff;
  font-weight: 400;
  margin-inline: 1rem;
  border-radius: 0.3rem;
  padding-block: 0.5rem;
  text-align: center;
}

.label-size {
  margin-left: 1rem;
  color: #7e7e7e;
}

select {
  margin-left: 1rem;
  color: #7e7e7e;
  padding-right: 0.5rem;
}

.label-quantity {
  margin-left: 5.5rem;
  color: #7e7e7e;
}

form {
  margin: 1rem;
  color: #7e7e7e;
}

.blue {
  _color: black;
  appearance: none;
  background-color: blue;
  margin-inline: 0.2rem;
  margin-bottom: -0.4rem;
  font: inherit;
  color: black;
  width: 1.5em;
  height: 1.5em;
  border: 0.15em solid blue;
  border-radius: 50%;
}

.red {
  _color: black;
  appearance: none;
  background-color: red;
  margin-inline: 0.2rem;
  margin-bottom: -0.4rem;
  font: inherit;
  color: black;
  width: 1.5em;
  height: 1.5em;
  border: 0.15em solid red;
  border-radius: 50%;
}

.black {
  _color: black;
  appearance: none;
  background-color: black;
  margin-inline: 0.2rem;
  margin-bottom: -0.4rem;
  font: inherit;
  color: black;
  width: 1.5em;
  height: 1.5em;
  border: 0.15em solid black;
  border-radius: 50%;
}

button {
  background-color: #485fb9;
  border-radius: 0.3rem;
  color: #fff;
  margin: 1rem;
  padding-block: 0.7rem;
  padding-inline: 9rem;
  text-wrap: nowrap;
}

/* -----  styling medium card  ------*/

.medium-card {
  margin-inline: 1rem;
}

/* Medium Card - Header styling */

.header-medium-card {
  background: linear-gradient(to top, #fff 5%, transparent 40%),
    url(https://images.unsplash.com/flagged/photo-1556637640-2c80d3201be8?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 279px;
  border-radius: 1.5rem 1.5rem 0 0;
  display: flex;
  position: relative;
}

.header-medium-card p {
  margin: 0;
}

.photographer {
  position: absolute;
  top: 85%;
  left: 1rem;
  color: #7e7e7e;
  font-size: 0.7rem;
}

/* Medium Card - Main styling */

/* Medium Card - Footer styling */

.green-black {
  _color: black;
  appearance: none;
  background: linear-gradient(
    to right,
    DarkKhaki,
    DarkKhaki 50%,
    black,
    black 50%
  );
  margin-inline: 0.2rem;
  margin-bottom: -0.4rem;
  font: inherit;
  color: black;
  width: 1.5em;
  height: 1.5em;
  _border: 0.15em solid black;
  border-radius: 50%;
}

.blue-black {
  _color: black;
  appearance: none;
  background: linear-gradient(
    to right,
    dodgerblue,
    dodgerblue 50%,
    black,
    black 50%
  );
  margin-inline: 0.2rem;
  margin-bottom: -0.4rem;
  font: inherit;
  color: black;
  width: 1.5em;
  height: 1.5em;
  _border: 0.15em solid black;
  border-radius: 50%;
}

.pink-black {
  _color: black;
  appearance: none;
  background: linear-gradient(
    to right,
    PaleVioletRed,
    PaleVioletRed 50%,
    black,
    black 50%
  );
  margin-inline: 0.2rem;
  margin-bottom: -0.4rem;
  font: inherit;
  color: black;
  width: 1.5em;
  height: 1.5em;
  _border: 0.15em solid black;
  border-radius: 50%;
}

/* -----  styling right card  ------*/

.right-card {
  margin-inline: 1rem 2rem;
}

/* Right Card - Header styling */

.header-right-card {
  background: linear-gradient(to top, #fff 5%, transparent 40%),
    url(https://images.unsplash.com/photo-1539185441755-769473a23570?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1471&q=80);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 279px;
  border-radius: 1.5rem 1.5rem 0 0;
  display: flex;
  position: relative;
}

.header-left-card p {
  margin: 0;
}

.just-one-left {
  position: absolute;
  background-color: #f5f5f5a1;
  left: 75%;
  _top: 0.8rem;
  padding-block: 0.2rem;
  padding-inline: 0.5rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  font-family: Quicksand;
}

.photographer {
  position: absolute;
  top: 85%;
  left: 1rem;
  color: #7e7e7e;
  font-size: 0.7rem;
}

/* Right Card - Main styling */

/* Right Card - Footer styling */

.red-white {
  _color: black;
  appearance: none;
  background: linear-gradient(
    to right,
    FireBrick,
    FireBrick 50%,
    white,
    white 50%
  );
  margin-inline: 0.2rem;
  margin-bottom: -0.4rem;
  font: inherit;
  color: black;
  width: 1.5em;
  height: 1.5em;
  border: 0.05rem solid lightgrey;
  border-radius: 50%;
}

.black-white {
  _color: black;
  appearance: none;
  background: linear-gradient(to right, black, black 50%, white, white 50%);
  margin-inline: 0.2rem;
  margin-bottom: -0.4rem;
  font: inherit;
  color: black;
  width: 1.5em;
  height: 1.5em;
  border: 0.05rem solid lightgrey;
  border-radius: 50%;
}
